<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/formulaire.css">
    <script src="scripts/jquery.js"></script>
    <script src="scripts/functions.js"></script>
    <script src="scripts/formulaire.js"></script>
    <script src="scripts/login.js"></script>
    <title>Login</title>
</head>
<body>
    <header></header>
    <main class="dark-background">
        <section id="connection" class="rotation90"></section>
        <script>
            fillHeader('{{pseudo}}', {{ roles | tojson }})
        </script>
    </main>
</body>
</html>